body{font-size: 1.5rem; }
body.home .usa-nav-primary{display: none;}
h1, h2, h3, h4{font-weight: 400 !important;}
h2{
  padding-top:50px;
  display: block;

}
.usa-logo a{
  font-size:.8em;
  font-weight: 500;
}

.usa-section-dark h1, 
.usa-section-dark h2, 
.usa-section-dark h3, 
.usa-section-dark h4, 
.usa-section-dark h5, 
.usa-section-dark h6 {
    color: #fff;
}
.text-white{color:#fff;}
.center{
  text-align: center;
  }
.right{
  text-align: right;
  }
p{max-width: 700px;}
.icon-img{margin: 0 0 20px 0;}
.usa-media_block-body p{padding: 0 13px;}
.usa-media_block-body a{text-decoration: none; color:#3B6EBA;}
.usa-media_block-body a:hover{color:#000;}
.usa-footer .usa-section-dark h4,
.usa-footer .usa-section-dark a {
  color: #fff !important;
  }
  .usa-footer-primary-link{
      font-size:.9em; 
      font-weight: 500 !important;
      padding-left: 5px; 
    }
  .usa-footer-secondary_section{padding-top:0px;}

.usa-hero{
  background-image: none;
  background-color: #205493;
  background: linear-gradient(to left, #0071BA 50%, #205493 50%);
  }

.usa-hero-callout{
  max-width: 69rem;
  background: none !important;
  color: #fafafa !important;
  padding: 1em 0;
}
.usa-hero-callout h3{
    line-height: 1.69em;
    font-weight: 300 !important;
}

.ul-clean{
padding: 20px 0;
margin: 0px; 
list-style: none;
  
}
.ul-highlights{
  list-style-image: url('../../assets/img/correct9.png');
  max-width: 700px;
}
.ul-highlights li{
  margin-bottom:30px;
  margin-left: 30px;
  padding-left: 10px;
}

.usa-section-light{padding-bottom:5rem}

/* navigation */
.usa-nav-secondary{top: -6.3rem;}
.usa-nav-secondary-links li{padding:0px; margin:0px;}
.usa-nav-secondary-links li a{padding:15px 15px 25px; }
.usa-nav-secondary-links li a:hover,
.usa-nav-secondary-links li a.active {background-color: #003366; color:#fff; text-decoration: none;}
.usa-nav-secondary-links li:not(:last-child)::after {
    content: "";
    padding-left: .5rem;
}


.usa-nav{background-color: #f0f0f0;}
ul.dbl-list {
   columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;

}
.fa-ul li{margin:0px; padding-top: 10px; padding-bottom: 10px; }
.fa-ul li a{position: relative; padding-left:25px;  text-decoration: none;}
.fa-ul.pdf li a:after{
 position: absolute;
  font-family: 'FontAwesome';
  top: 0;
  left: 0px;
  right: 10px;  
  content: "\f1c1";
}

/* table styling */
table{width: 100%;}
table tr, table td, table th{border-color:#ccc; font-size: 14px; padding:10px 10px; vertical-align: top;}
table th{background-color:#f0f0f0;}


#main-content img.chart{border:solid 5px #f0f0f0;}

  /* Background Images */
  body.home .usa-hero{
    background-image: url('../../assets/img/bg/HeroBanner.png');
    background-position: center;
    background-size: cover;

  }

