body{}
body.home .usa-nav-primary{display: none;}


.usa-section-dark h1, 
.usa-section-dark h2, 
.usa-section-dark h3, 
.usa-section-dark h4, 
.usa-section-dark h5, 
.usa-section-dark h6 {
    color: #fff;
}
.text-white{color:#fff;}
.center{
  text-align: center;
  }
.right{
  text-align: right;
  }

.usa-footer .usa-section-dark h4,
.usa-footer .usa-section-dark a {
  color: #fff !important;
  }
.usa-footer-return-to-top {
  color: #205493;
  text-decoration: none;
}
.usa-hero{
  background-image: none;
  background-color: #205493;
  }

.usa-hero-callout{
  max-width: 66rem;
  background: none !important;
  color: #fafafa !important;
  }